<p>並び変え</p>
<%= form_tag("/fav_controller/index") do %>
<select name="sort">
<option value="many">いいねが多い順</option>
<option value="few">いいねが少ない順</option>
<option value="new">ツイートが新しい順</option>
<option value="old">ツイートが古い順</option>
</select>
<% end %>

<div class="tweet_list">
<% @tweets.each do |tweet| %>
 <% if tweet.fav >= 0 %>
<div class="tweet">
 <p><%= tweet.tweet %></p>
 <p class= "fav_count"><%= tweet.fav %>Fav</p>
 <p><%= tweet.tweet_time %></p>
</div>
<% end %>
<% end %>
</div>