@import "bootstrap";

/* universal */

body {
  background-color: #98DDDE;
  padding-top: 140px;
}

h1{
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
  a {
    color: #FFDA29;
  }
  a:hover {
    color: #FFDA29;
    text-decoration: none;
  }
}

/* header */

.header{
  height: 140px;
  padding: 10px;
  overflow: hidden;
  background-color: #263056;

  ul{
    float: right;
    }

  li{
    float: left;
    list-style-type: none;
    margin-right: 5px;
    color: white;
    }

}

/* side */
.side{
 width: 200px;
 height: 500px;
 background-color: white;
 float: left;
 margin: 10px;
li {
 list-style:none;
}
ul{
 padding-left: 0px;
}
}

/* footer */
form{
  overflow: hidden;
}
.footer{
  background-color: #263056;
  p {
    color:white;
    text-align: center;
}

}

/* tweet */

.tweet_area{
  margin: 10px;
}
.tweet_list{
  margin-top: 10px;
  overflow: hidden;
}
.tweet{
  overflow: hidden;
  margin-bottom: 10px;
  padding: 10px;
  width: auto;
  border-radius: 5px; 
  background-color: white;

  a,p {
    font-size: 20px;
    }

  ul{
    padding-left: 0px;
    }

  li{
    padding: 20px 20px;
    float: left;
    display: block;
    background-color: black;
    margin-right: 5px;
    margin-top: 5px;
    }

  .fav_count{
    float:left;
    margin-right:10px;
    display: inline-block;
}

}
